.copyright {
    color: #ffffff;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar a {
    color: #428bca;
}

.card a {
    color: #428bca;
}

.card a:hover {
    color: #3071a9;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar .card-header {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.article h1 {
    font-size: 1.5em;
}

.article h3 {
    font-size: 1.4em;
}

.card {
    padding: 0 0 0 0;
    margin: 0.5em 0.5em 0.5em 0.5em;
}