<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{{ site.baseurl }}/css/theme.css" rel="stylesheet" type="text/css">
        <link href="{{ site.baseurl }}/css/syntax.css" rel="stylesheet" type="text/css">

{% include isso-comments.html %}
</head>

<body>

        <nav class="navbar navbar-fixed-top bg-dark navbar-expand-lg" data-bs-theme="dark" role="navigation">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="{{ site.baseurl }}/images/firefly_logo.png" alt="Logo" width="24" height="24" class="d-inline-block align-text-top">
                        Firefly Safety
                    </a>
	             <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
	                 <span class="navbar-toggler-icon"></span>
	             </button>
	             <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
	                 <div class="navbar-nav">
	                     <a class="nav-link active" aria-current="page" href="{{ site.baseurl }}/">Home</a>
	                     <a class="nav-link d-sm-none" href="{{ site.baseurl }}/links.html">Links</a>
	                     <a class="nav-link" href="{{ site.baseurl }}/archive.html">Archive</a>
	                     <a class="nav-link" href="{{ site.baseurl }}/staff.html">Team</a>
	                     <a class="nav-link" href="{{ site.baseurl }}/calendar.html">Calendar</a>
	                     <a class="nav-link" href="{{ site.baseurl }}/feed.xml">RSS</a>
	                     <a class="nav-link" href="https://github.com/{{ site.github }}">Github</a>
	                 </div>
	             </div>
	         </div>
	     </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>