<div class="sidebar well">
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        {{ site.description }}
                    </p>
                </div>
            </div>
        </div>

	     <div class="row">
            <div class="card">
                <div class="card-header">
                    Recent Posts
                </div>
                <div class="list-group list-group-flush">
                    {% for post in site.posts limit:5 %}
                    <a class="list-group-item list-group-item-action" href="{{ site.baseurl}}{{ post.url }}">
                        {{ post.title }}
                    </a>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row">
            {% include links-list.html %}
        </div>
    </div>
</div>
